.contentContainer {
  width: 100%;
  height: calc(100vh - 133px);
}
.logoTitle {
  width: 200px;
  color: white;
  display: flex;
  justify-content: center;
}
.logoTitle > span {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}
.userInfo {
  width: 120px;
  padding: 0 10px;
  color: white;
  text-align: center;
}
.app-container {
  display: flex;
  height: calc(100vh - 64px);
  /* 自定义滚动条样式 */
}
.app-container .menu-scroll {
  background: #fff;
  width: 200px;
  flex: none;
  max-height: calc(100vh - 64px);
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  /* 保证稳定宽度 */
}
.app-container .menu-scroll > ul {
  border-inline-end: none !important;
}
.app-container .menu-scroll::-webkit-scrollbar {
  width: 2px;
}
.app-container .menu-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
.app-container .menu-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.app-container .content-container {
  flex: 1;
  height: calc(100vh - 133px);
  overflow-y: auto;
  margin: 16px;
  background: white;
}
